.container{
  display: flex;
  flex-wrap: wrap;
}

.heroText{
  flex:calc(30% - (40px));
  padding: 20px;
}

.heroImage{
  flex:calc(70% - 40px);
  padding:20px;
}

.heroImage img{
  max-width: 100%;
}

@media screen and (max-width:600px){
  .heroImage , .heroText{
    flex:100%;
  }
}
