table, th, td{
    border: 1px solid black;
    border-collapse: collapse;
    padding: 15px;
}
table{
    border-spacing: 10px;
}
tr:nth-child(even) {
  background-color: #D6EEEE;
}
hr{
  border-style:none;
  border-top-style: dotted;
  border-color: rgb(0, 0, 151);
  border-width: 10px;
  width: 8%;
  
}