body{
    margin: 0;
<<<<<<< HEAD
}
div{
    background-color: #F4EEFF;
}
h1{
    margin-top: 0;
    margin-right: 0;
}
=======
    text-align: center;
}
.bottom-cloud{
    position:absolute;
    left: 300px;
    bottom: 300px;
}
h1{
    margin-top: 0;
    padding-top: 100px;
}

.pro{
    text-decoration: underline;
}
.top-cloud{
    position:absolute;
    right:300px;
    top:50px;
}
.top-container{
    background-color: #FEFEDF;
    position:relative;
    padding-top: 100px;
}
>>>>>>> a9680cdfe5bc992efc941437b1a5de30d4a89070
