/* Tag Selectors */
h1{
    color: red;
    font-size: 200px;
}
img:hover
{
    background-color: rgb(234, 255, 47);
    background-blend-mode: multiply;
}
/* Class Selcetors */
.bacon{
    background-color: green;
}
.broccoli{
    background-color: red;
    width: 160px;
}

/* ID Selcetors */
#midpar{
    background-color: darkgreen;
    color: goldenrod;
}
#midpar:hover{
    background-color: white;
    color: black;
}