div button{
  background-color: darkgreen;
  padding: 10px 20px;
  color:white;
  border:solid 1px darkgreen;
}

div.dropContent{
  display: block;
}

div a{
  display:  block;
  text-decoration: none;
  background-color: lightgrey;
  color:black;
  width: 140px;
  text-align: center;
  padding: 10px 0;
  
}

button:hover .dropContent{
  display: block !important;
}