body{
  margin:0;
  padding:0;
}

img{
  max-width: 100%;
}
/* Header Styles */
header{
  background-color: #1abc9c;
  padding: 10px;
  color:white;
}

header h2, header p{
  text-align: center;
}
/* Navbar Styles */
nav{
  display: flex;
  gap:1rem;
  background-color: #333;
  
}

nav a{
  color:white;
  text-decoration: none;
  padding: 1em 2em;
}

nav a:hover{
  background: #ddd;
  color:black;
}

.main{
  display: flex;
}

aside{
  flex: 30%;
  background: #f1f1f1;
  padding:2em;
}

.content{
  flex-direction: column;
  flex:70%;
  padding:2em;
}
.featured{
  display: flex;
  gap:1em;
  margin: 2em 0;
  flex-wrap: wrap;
}

.column{
  flex:20%;
}
@media screen and (max-width:1000px) {
  .column{
    flex:40%;
  }
}

@media screen and (max-width:600px) {
    .column{
      flex: 90%;
    }
}
@media screen and (max-width:800px) {
  .main{
    flex-direction: column;
  }
}